.bg_primary1{
    background-color: #1F2587;
}

.bg_secondary1{
    background-color: #b4b4b4;
}

.bg_white2 {
    background-color: #F2F2F2;
}

.text_primary1{
    color: #00539C;
}

.text_primary2 {
    color: #1F2587;
}

.text_secondary1{
    color: #666666;
}

.text_white1{
    color: #FFFFFF;
}

.text_white2{
    background-color: #EAF9F9;
}

.text_dark1{
    color: #333333;
}

.text_dark2{
    color: #000000;
}

.text_dark3{
    color: #484848;
}